{% extends 'base.html.twig' %}

{% block title %}Création d'une tâche{% endblock %}

{% block body %}
    <style>
        #toto {
            color: red;
        }
    </style>

{% set title = update ? 'Mise à jour de la tâche' : 'Création d\'une tâche' %}
    <h1>{{ title }}</h1>

{{ form_start(taskForm) }}

{{ form_errors(taskForm) }}

    <div class="row">
        <div class="col-2">{{ form_label(taskForm.title, 'Titre', {'label_attr': {'id' : 'toto'}}) }}</div>
        <div class="col-10">{{ form_widget(taskForm.title) }}</div>
    </div>
{{ form_errors(taskForm.title) }}
{{ form_row(taskForm.expiratedAt) }}

{{ form_row(taskForm.description) }}

<ul id="email-fields-list"
    data-prototype="{{ form_widget(taskForm.tags.vars.prototype)|e }}"
    data-widget-tags="{{ '<li></li>'|e }}"
    data-widget-counter="{{ taskForm.tags|length }}">
    {% for tag in taskForm.tags %}
    <li>
        {{ form_errors(tag) }}
        {{ form_widget(tag) }}
    </li>
    {% endfor %}
</ul>

<button type="button"
        class="add-another-collection-widget btn btn-success"
        data-list-selector="#email-fields-list">Ajouter un tag</button>

{{ form_end(taskForm) }}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/add_tags.js') }}"></script>
{% endblock %}