{% extends 'base.html.twig' %}

{% block title %}{{ task.title}}{% endblock %}

{% block body %}
    <h1 class="text-center mt-5">{{ task.title}}</h1>

    <div class="card mt-5">
        <h3 class="card-header text-center">{{ task.title }}</h3>
        <div class="card-body">
            <div class="row text-center">
                <div class="col-6">URGENT</div>
                <div class="col-6 ">Fait</div>
            </div>
        </div>
        <hr>
        <div class="card-body">
            <div class="row">
                {% for category in task.categories %}
                    <div class="col-4 text-center">
                        <span class="badge bg-primary ">{{ category.name }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
        <hr>
        <div class="card-body">
            <p class="card-text">{{ task.description | slice (0, 300)~'...' }}</p>
        </div>
        <hr>
        <div class="card-body">
            <div class="text-center">
                {% for tag in task.tags %}
                        <span class="badge bg-success me-2">{{ tag.name }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="card-footer text-muted">
            <div class="row text-center">
                <div class="col-4">{{ task.user.username }}</div>
                <div class="col-4">A faire pour le {{ task.expiratedAt | date("d/m/Y")  }}</div>
                {% if is_granted('ROLE_ADMIN')  %}
                    <div class="col-4"><a href="{{ path('app_task_delete', {'id' : task.id , 'token_csrf' : csrf_token('delete_task'~task.id)}) }}">🗑️</a></div>
                {%  endif %}
            </div>
        </div>
    </div>
{% endblock %}
